
<head>
    <link href="../../css/splash.css" rel="stylesheet" type="text/css">
</head>

<div class="site-wrapper">

    <div class="site-wrapper-inner">
    
        <div class="">
            <div class=" text-center">
                <p class="red-font">Would you like anything from our coffee bar?</p> 
                <a ng-href="/kiosk/select"><button class="btn btn-default top-buffer">Order Now</button></a>
                
            <div class="splash-logo">
            <img src="../images/xperience2015_logo-red2.png" class="splash-img">
            </div>
            </div>
        </div>
    
    </div>
</div>