<div ng-controller="wi5Controller" class="grey-font ">
    <h5 class="grey-font text-left">FOOT TRAFFIC</h5>
    <div class="">
    <div id="state1Id" class="pos-station1" ng-class="{'cloud cloud-a':getClouda(station1), 'cloud cloud-b':getCloudb(station1), 'cloud cloud-c':getCloudc(station1)}"><p>Plaza Foyer 2</p></div>
    <div id="state2Id" class="pos-station2"  ng-class="{'cloud cloud-a':getClouda(station2), 'cloud cloud-b':getCloudb(station2), 'cloud cloud-c':getCloudc(station2)}"><p>Plaza Foyer 1</p></div>
    <div id="state3Id" class="pos-station3"  ng-class="{'cloud cloud-a':getClouda(station3), 'cloud cloud-b':getCloudb(station3), 'cloud cloud-c':getCloudc(station3)}"><p>IoT Showcase</p></div>
</div>
</div>
