<head>
    <link href="css/welcome.css" rel="stylesheet" type="text/css"/>
</head>

<div class="col-sm-12 col-md-12 col-lg-12 bg4">

    <div id="welcome1" class="hide" style="position:absolute; top:367px; left:0; right:578px; bottom:0; width:50%;height:50%; margin:auto; z-index:1;">
        <div class="hello-circle bounceIn animated">
            <span>
                <div><b id="personName1"></b></div> 
                <div id="message1"></div>
            </span>
        </div>
    </div>
    
    <div id="welcome2" class='hide' style="position:absolute; top:0px; left:0px; bottom:0; ">
        <div class="hello-circle bounceIn animated">
            <span >
                <p><b id="personName2"></b></p> 
                <div id="message2"></div>
            </span>
        </div>
    </div>
    
    <div id="welcome3" class='hide' style="position:absolute; top:3px; right:556px; bottom:0; ">
        <div class="hello-circle bounceIn animated">
            <span>
                <p><b id="personName3"></b></p> 
                <div id="message3"></div>
            </span>
        </div>
    </div>
    
    <div id="welcome4" class='hide' style="position:absolute;  left:0px; top:447px;">
        <div class="hello-circle bounceIn animated">
            <span>
                <p><b id="personName4"></b></p> 
                <div id="message4"></div>
            </span>
        </div>
    </div>
    
    <div id="welcome5" class='hide' style="position:absolute; top:453px; right: 592px; ">
        <div class="hello-circle bounceIn animated">
            <span>
                <p><b id="personName5"></b></p> 
                <div id="message5"></div>
            </span>
        </div>
    </div>
    
    <div id="welcome6" class='hide' style="position:absolute;  top:632px; right: 1000px; ">
        <div class="hello-circle bounceIn animated">
            <span>
                <p><b id="personName6"></b></p> 
                <div id="message6"></div>
            </span>
        </div>
    </div>
    
    <div id="welcome7" class='hide' style="position:absolute; top:157px; right: 100px; ">
        <div class="hello-circle bounceIn animated">
            <span>
                <p><b id="personName7"></b></p> 
                <div id="message7"></div>
            </span>
        </div>
    </div>
    
    <div id="welcome8" class='hide' style="position:absolute; top:610px; right: 175px; ">
        <div class="hello-circle bounceIn animated">
            <span>
                <p><b id="personName8"></b></p> 
                <div id="message8"></div>
            </span>
        </div>
    </div>
    
    <!-- <div id="welcome9" style="position:absolute; top:25px; right: 17px; ">
        <div class="hello-circle hello-circle-lg bounceIn animated">
            <span class="row-circle-md">
                <p><b id="personName9">person 9</b></p> 
                <p id="message9">skfiweinfiqwhekjnvijnoednfjsakldbfioquwheihqdhnkfjnhiuh</p>
            </span>
        </div>
    </div> -->
</div>
   <div class="logo">
        <img src="../images/logo/x15-logo.png" class="x15-img" />
   </div>